@model BLL.Dto.AudioDto
@{
    ViewBag.Title = "track"; 
}

<h2>track</h2>
<div class="audio-container"></div>

<div class="audio-text-container">
    <h2>@Model.Text</h2>
</div>

<div class="comments-container"></div>


@section scripts
{
    <script type="text/javascript">
        var userName = "@Model.UserName";
        var audioTitle = "@Model.Title";
        var audioPath = "@Model.Src";
        var quantityLikes = "@Model.QuantityLikes";
        var quantityComments = "@Model.QuantityComments";
        var listening = "@Model.Listening";
        var date = "@Model.Date";
    </script>

    <script src="~/Scripts/one-track.js"></script>
    <script src="~/Scripts/comments.js"></script>
}

